<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AbdmSettings:BaseUrl" value="https://dev.abdm.gov.in/api/hiecm" />
    <add key="AbdmSettings:AbhaServiceUrl" value="https://abhasbx.abdm.gov.in/abha/api/v3" />
    <add key="AbdmSettings:ClientId" value="SBXID_008903" />
    <add key="AbdmSettings:ClientSecret" value="15dbb11f-c446-4bae-88c4-28b71470ab74" />
    <add key="AbdmSettings:HipId" value="IN0610090658" />
    <add key="AbdmSettings:HipName" value="MIDHA HOSPITAL" />
    <add key="AbdmSettings:CmId" value="sbx" />
    <add key="AbdmSettings:Environment" value="Sandbox" />
  </appSettings>
</configuration>
